<!DOCTYPE html>
<html>
    <head>
        <h3>Aici  sunt cateva poze din orasele europene</h3>
    </head>
     <body>
         
    <div>
             <table id="poze" class="table table-bordered table-striped">
        
            
        <tr ng-repeat="poza in poze">
            <td></td>
            <td></td>
        </tr>
    </table>
         </div>
       <div>
           <img src="elv.jpg" height=200 width=300><h6>Elvetia</h6>
           <img src="elv1.jpg" height=200 width=300><h6>Elvetia</h6>
        </div> 
     <div>
           <img src="zakynthos.jpg" height=200 width=300><h6>Zakynthos</h6>
           <img src="milano.jpg" height=200 width=300><h6>Milano</h6>
      </div>
    </body>
</html>

    